@{
    ViewData["Title"] = "ADMIN PANEL";
}

<h2>Панель управления админа</h2>
<div class="collection">
    <a href='@Url.ActionLink("hotel", "admin")' class="collection-item">Добавить отель</a>
    <a href='@Url.ActionLink("country", "admin")' class="collection-item">Добавить страну</a>
    <a href='@Url.ActionLink("town", "admin")' class="collection-item">Добавить город</a>
    <a href='@Url.ActionLink("airport", "admin")' class="collection-item">Добавить аэропорт</a>
    <a href='@Url.ActionLink("flight", "admin")' class="collection-item">Добавить полет</a>
    <a href='@Url.ActionLink("file", "admin")' class="collection-item">Добавить файл</a>
    <a href='@Url.ActionLink("stats", "admin")' class="collection-item">Статистика</a>
</div>